<header class="site-header">
  <div class="container nav-wrap">
    <a class="brand" data-nav-link="/">The Road to Grace</a>
    <nav class="nav-links" aria-label="Main navigation">
      <a class="nav-link" data-nav-link="/">Home</a>
      <a class="nav-link" data-nav-link="/pages/about-website.html">About the Website</a>
      <a class="nav-link" data-nav-link="/pages/about-author.html">About the Author</a>
      <a class="nav-link" data-nav-link="/pages/my-journey.html">My Journey</a>
      <a class="nav-link" data-nav-link="/pages/blog.html">Blogs</a>
      <a class="nav-link" data-nav-link="/pages/poetry.html">Poetry</a>
      <a class="nav-link" data-nav-link="/pages/contact.html">Contact</a>
    </nav>
  </div>
</header>
